input[name="title"] {
  font-size: 1.3em;
}

input[name="slug"] {
  font-size: 1em;
  margin-bottom: 0.2em;
}

textarea {
  padding: 0.6em;
  font-family: monospace;
  font-size: 1em;
  height: 100%;
  height: 650px;
  resize: none;
}

.type {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  font-weight: normal;
  gap: 1em;
  margin-top: 0.25em;
  margin-bottom: 1.5em;
}

.type select {
  width: auto;
  flex-grow: 1;
}

.reply {
  font-weight: bold;
}
