ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2em;
}

ul li {
  padding: 0;
}

ul a {
  display: flex !important;
  text-decoration: none !important;
  cursor: default !important;
  margin: 0 !important;
  padding: 0 !important;

  &:hover {
    opacity: 1;
  }
}

img {
  aspect-ratio: 1;
  transition: filter 100ms;
  object-fit: cover;
  width: 100%;
  height: auto;

  &:hover {
    filter: brightness(0.9);
  }
}