input[type="url"],
input[type="text"], 
input[type="email"],
input[type="password"],
select {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

h3 {
  border-bottom: 1px solid currentColor;
  border-color: inherit;
}

h3:not(:first-of-type) {
  margin-top: 3em;
}

p label + span, 
td label + span {
  display: block;
  font-size: 0.9em;
  color: #777;
}

input[type="submit"] {
  float: right;
  margin-bottom: 3em;
}

tr {
  border-bottom: none;
}

td select {
  margin: 0;
}