RewriteEngine On
RewriteBase /

<Files *.php>
  Require all denied
</Files>

<Files index.php>
  Require all granted
</Files>

<Files *.db>
  Require all denied
</Files>

<Files *.json>
  Require all denied
</Files>

RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [END]

RewriteCond %{DOCUMENT_ROOT}/data/$1 -f
RewriteRule ^(assets/.*)$ /data/$1 [L,QSA]

RewriteCond %{DOCUMENT_ROOT}/data/$1 -f
RewriteRule ^(uploads/.*)$ /data/$1 [L,QSA]

RewriteCond %{DOCUMENT_ROOT}/site/$1 -f
RewriteRule ^(.*)$ /site/$1 [L,QSA]

RewriteCond %{DOCUMENT_ROOT}/cms/$1 -f
RewriteRule ^(.*)$ /cms/$1 [L,QSA]

ErrorDocument 404 /index.php
FallbackResource /index.php

RewriteRule ^(.*)$ /index.php [L]