@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
}

html {
  line-height: 1.225;
}

body {
  font-family: verdana, arial, sans-serif, helvetica;
  background-color: #e3e3e3;
  margin: 0 auto;
  width: 810px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

body > nav, body > header {
  font-size: max(72%, 12px);
}

body > header {
  order: -2;
  background: #1d4ed8;
  padding: 15px 10px 14px 16px;
  color: white;

  h1, p {
    margin: 0;
    font-family: "Arial Bold", "Varela Round", sans-serif;
    font-style: normal;
  }

  h1 { 
    font-size: 2em;
    margin-bottom: 0.1em;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }
}

body > nav {
  order: -1;
  background: #60a5fa;
  padding: 3.5px 16px;
  color: white;

  summary { display: none; }

  h3 {
    font-size: 1em;
    margin-left: 1em;
    display: inline;
    font-weight: normal;
    color: black;
    &::after { content: ":"; }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }

  li {
    display: inline-block;
    min-height: 1.4em;
  }

  li:not(:last-child)::after {
    content: " | ";
    color: black;
  }

  a {
    color: currentColor;
    text-decoration: none;
    text-shadow: 0 0 7px #095DC3;
    font-size: max(0.98em, 12px);
  }

  a:hover {
    text-decoration: underline;
    color: #040c5c;
  }
}

body > main {
  background: white;
  color: black;
  padding: 6px 10px;
  font-size: 80%;
}

img {
  max-width: 100%;
}

.h-feed {
  article {
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
    margin-bottom: 1em;
  
    h1, h2, h3, .e-content, .dt-published {
      grid-column: 2;
    }
  }

  .p-name {
    margin: 0;
  }

  article:not(:last-child) time {
    margin-bottom: 3em;
  }

  article:first-of-type::before {
    grid-column: 2;
    content: "Latest Blog Entries";
    position: absolute;
    font-weight: bold;
    margin-top: 2em;
  }

  article:first-of-type .e-content {
    margin-top: 4em;
  }

  article:first-of-type:has(h1) {
    .e-content { margin-top: 0; }
    h1 { margin-top: 4em; }
  }

  article:first-of-type .h-card {
    display: block;
    grid-column: 1;
    order: -1;
  
    .u-photo {
      aspect-ratio: 1;
      width: 50%;
      object-fit: cover;
    }
  
    .p-name {
      font-weight: bold;
      font-size: 1.5em;
      margin: 0.7em 0;
    }
  
    a {
      display: flex;
      flex-direction: column-reverse;
      color: currentColor;
      text-decoration: none;
    }
  }
}

.feed time,
.single time {
  border-top: 1px solid gainsboro;
  padding-top: 0.5em;
  display: block;
  margin: 1em 0;
  &::before { content: "Published on"; }
}

body > footer {
  display: flex;
  font-size: max(72%, 12px);
  justify-content: space-between;
  line-height: 30px;
  margin-bottom: 10px;

  b {
    padding-right: 0.25em;
  }

  small {
    font-size: 1em;
  }
}

aside {
  margin-bottom: 1em;
  h2 {
    margin: 25px 0 10px 0;
    background: #BFDBFE;
    padding: 5px 7px;
  }
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td:last-child, th:last-child {
  text-align: right;
}