@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
  box-sizing: border-box;
}

html {
  line-height: 1.225;
}

body {
  font-family: verdana, arial, sans-serif, helvetica;
  background-color: #e3e3e3;
  margin: 0 auto;
  width: 810px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-areas: 
    "header header"
    "nav nav"
    "profile main"
    "footer footer";
}

body > nav, body > header {
  font-size: max(72%, 12px);
}

body > header {
  grid-area: header;
  background: #1d4ed8;
  padding: 15px 10px 14px 16px;
  color: white;

  h1, p {
    margin: 0;
    font-family: "Arial Bold", "Varela Round", sans-serif;
    font-style: normal;
  }

  h1 {
    font-size: 2em;
    margin-bottom: 0.1em;
  }

  a {
    color: currentColor;
    text-decoration: none;
  }
}

body > nav {
  grid-area: nav;
  background: #60a5fa;
  padding: 3.5px 16px;
  color: white;

  summary { display: none; }

  h3 {
    font-size: 1em;
    margin-left: 1em;
    display: inline;
    font-weight: normal;
    color: black;
    &::after { content: ":"; }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }

  li {
    display: inline-block;
    min-height: 1.4em;
  }

  li:not(:last-child)::after {
    content: " | ";
    color: black;
  }

  a {
    color: currentColor;
    text-decoration: none;
    text-shadow: 0 0 7px #095DC3;
    font-size: max(0.98em, 12px);
  }

  a:hover {
    text-decoration: underline;
    color: #040c5c;
  }
}

body > main, body > aside.left {
  background: white;
  color: black;
  font-size: 80%;
  padding: 6px 10px;
}

body > main {
  grid-area: main;
}

body.feed > main,
body.listing > main {
  &::before {
    content: "Latest Blog Entries";
    display: block;
    font-weight: bold;
    margin: 2em 0;
  }
}

body > aside.left {
  grid-area: profile;
  display: block;

  .u-photo {
    aspect-ratio: 1;
    object-fit: cover;
    width: 55%;
    float: left;
    margin: 0 10px 10px 0;
  }

  h3 {
    background: #60A5FA;
    color: white;
    padding: 2px 7px;
    margin-bottom: 0.7em;
    margin-top: 0;
  }

  .p-name {
    font-weight: bold;
    font-size: 1.5em;
  }

  .p-nickname {
    margin-left: 0.25em;
    font-weight: normal;
    &::before { content: "("; }
    &::after { content: ")"; }
  }

  .p-status::before { 
    content: "Status: ";
    font-weight: bold;
  }

  .p-mood::before { 
    content: "Mood: ";
    font-weight: bold;
  }

  .p-note::before { 
    content: "About me: ";
    font-weight: bold;
  }
}

img {
  max-width: 100%;
}

.h-feed article {
  .p-name { margin: 0; }
  &:not(:last-child) { margin-bottom: 3em; }
}

.feed time,
.single time {
  border-top: 1px solid gainsboro;
  padding-top: 0.5em;
  display: block;
  margin: 1em 0;
  &::before { content: "Published on"; }
}

body > footer {
  grid-area: footer;
  display: flex;
  font-size: max(72%, 12px);
  justify-content: space-between;
  line-height: 30px;
  margin-bottom: 10px;

  b {
    padding-right: 0.25em;
  }

  small {
    font-size: 1em;
  }
}

.home .dt-published {
  display: none;
}

section:not(.volume) {
  background: #DBEAFE;
  color: #1E40AF;
  border: 2px solid #60A5FA;
  margin-top: 0.7em;
}

h2 {
  font-size: 1em;
  margin: 25px 0 10px 0;
  background: #BFDBFE;
  padding: 5px 7px;
}

.comment-section {
  margin-bottom: 1em;
}

table {
  width: 100%;
}

th {
  text-align: left;
}

td:last-child, th:last-child {
  text-align: right;
}