@import url("dupunkto.css");

body {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";
}

body > header {
  grid-area: header;
  padding: 20px 45px;
  border-bottom: 1px solid #222;
}

body > nav {
  grid-area: nav;
  padding: 45px;

  ul {
    list-style: none;
    padding: 0;
  }

  details summary {
    margin-bottom: 30px;

    h2 {
      display: inline;
      font-weight: normal;
      font-size: 1em;
      border-bottom: 0;
      margin: 0;
    }
  }
}

body > main {
  grid-area: main;
  padding: 45px 7px;
  height: 100%;
  max-width: 80ch;
}

body > footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  margin: 45px;
  margin-bottom: 10px;
  border-top: 2px solid currentColor;
  border-color: inherit;

  b {
    padding-right: 0.25em;
  }

  small {
    font-size: 1em;
  }
}

article {
  & > .p-name {
    margin-top: 0;
  }

  &:has(.code) > .p-name {
    border-bottom: 0;
    margin-bottom: 0;
  }

  time {
    opacity: 0.6;
    &::before { content: "Published on "; }
  }
}

.feed article time {
  opacity: 1;
  &::before { display: none;}
}

.mention {
  font-weight: bold;
  text-decoration: none;
}

.code, figure img {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.caption, figcaption {
  text-align: center;
  margin-top: 0.5em;
}

.caption {
  color: light-dark(#666, #999);
  margin-top: 1em;
}

