@import url("https://roblog.nl/base.css");

body {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

/* Site-specific */

body, html {
  height: 100%;
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 7px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto 95px;
  gap: 20px;
  grid-template-areas: 
    "header aside"
    "main main"
    "footer footer";
}

body > header {
  grid-area: header;

  & hgroup p {
    opacity: .7;
  }
}

body > main {
  grid-area: main;
  height: 100%;
}

body > aside {
  grid-area: aside;
}

body > footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  text-align: center;
  font-size: .9em;
  opacity: .85;

  & p {
    margin: .3em;
  }

  & p:not(.powered-by) {
    margin-bottom: .5em;
  }

  & small {    
    font-size: 1.3em;
  }
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;

  & li:not(:last-child)::after {
    content:  "·";
    margin: 0 .3em;
  }
}

article {
  display: grid;
  align-items: end;
  margin-left: .7em;
  grid-template-columns: 65px 107px auto;
  grid-template-areas:
    "h-card dt title"
    "nothing content content";

  .h-card {
    grid-area: h-card;
    float: left;
    
    .p-name {
      display: none;
    }

    .u-photo {
      max-width: 65px;
      margin-left: -0.7em;
      margin-bottom: -40px;
      border-radius: 6px;
    }
  }

  time {
    grid-area: dt;

    a {
      text-decoration: none;
    }

    &::after {
      content:  "·";
    }
  }

 .p-name {
    grid-area: title;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 0;
    border: none;
  }

  .p-name, time {
    color: #555;
  }

  .e-content {
    grid-area: content;
    font-size: 1.15em;

    & > p:first-child {
      margin-top: 0;
      padding-top: .3em;
      border-top: 1px dotted #ccc;
    }
  }
}

.mention {
  font-weight: bold;
  text-decoration: none;
}
