@import url("https://roblog.nl/base.css");

body {
  font-size: clamp(0.9rem, 2vw, 1rem);
}

/* Site-specific */

body, html {
  height: 100%;
  margin: 0;
}

* {
  white-space-collapse: discard;
}

.traditional {
  font-family: sans-serif;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 
    "header header"
    "nav main"
    "footer footer";

  & > header {
    grid-area: header;
    padding: 20px 45px;
    border-bottom: 1px solid #222;
  }

  & > nav {
    grid-area: nav;
    padding: 45px;

    ul {
      list-style: none;
      padding: 0;
    }

    details summary {
      margin-bottom: 30px
    }
  }

  & > main {
    grid-area: main;
    padding: 45px 7px;
    height: 100%;
    max-width: 80ch;
  }

  & > footer {
    grid-area: footer;
    display: flex;
    justify-content: space-between;
    line-height: 30px;
    margin: 45px;
    margin-bottom: 10px;
    border-top: 2px solid currentColor;
    border-color: inherit;

    b {
      padding-right: 0.25em;
    }

    small {
      font-size: 1em;
    }
  }

  article {
    & > .p-name {
      margin-top: 0;
    }

    &:has(.code) > .p-name {
      border-bottom: 0;
      margin-bottom: 0;
    }

    time {
      opacity: 0.6;
      &::before {
        content: "Published on ";
      }
    }
  }

  .code, figure img {
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  .caption, figcaption {
    text-align: center;
    margin-top: 0.5em;
  }

  .caption {
    color: light-dark(#666, #999);
    margin-top: 1em;
  }
}

.twitter-like {
  max-width: 800px;
  margin: 0 auto;
  padding: 7px;
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "header nav"
    "main main"
    "footer footer";
  gap: 20px;

  & > header {
    grid-area: header;

    hgroup p {
      opacity: .7;
    }
  }

  & > main {
    grid-area: main;
    height: 100%;
  }

  & > nav {
    grid-area: nav;
    summary { display: none; }
  }

  & > footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    text-align: center;
    font-size: .9em;
    opacity: .85;

    b {
      display: none;
    }

    p {
      margin: .3em;
    }

    p:not(.powered-by) {
      margin-bottom: .5em;
    }

    small {    
      font-size: 1.3em;
    }
  }

  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    & li:not(:last-child)::after {
      content:  "·";
      margin: 0 .3em;
    }
  }

  article {
    display: grid;
    align-items: end;
    margin-left: .7em;
    grid-template-columns: 65px 10.75ch auto;
    grid-template-areas:
      "h-card dt title"
      "nothing content content";

    time {
      color: #555;
      grid-area: dt;

      a {
        text-decoration: none;
      }
    }

    &:has(> .p-name) time::after {
      content:  "·";
    }

    & > .p-name {
      color: #555;
      grid-area: title;
      font-size: 1em;
      font-weight: normal;
      font-style: italic;
      margin: 0;
      padding: 0;
      border: none;
    }

    .e-content {
      grid-area: content;
      font-size: 1.15em;

      & > p:first-child {
        margin-top: 0;
        padding-top: .3em;
        border-top: 1px dotted #ccc;
      }

      & > pre:first-child {
        margin-top: 0.3em;
      }
    }
  }

  .mention {
    font-weight: bold;
    text-decoration: none;
  }

  .code, figure img {
    margin-bottom: .5em;
  }
  
  .caption, figcaption {
    opacity: 0.7;
    font-size: 0.8em;
    text-align: center;
    font-style: italic;
    margin-top: 0;
  }

  .h-card {
    display: block;
    grid-area: h-card;
    float: left;
    
    .p-name {
      display: none;
    }

    .u-photo {
      max-width: 65px;
      margin-left: -0.7em;
      margin-bottom: -40px;
      border-radius: 6px;
    }
  }
}