img {
  border-radius: 7px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

input[name="slug"] {
  font-size: 0.9em;
  margin-bottom: 0.2em;
}

input[name="caption"] {
  font-size: 1.3em;
}

input[name="photo"],
img {
  margin-top: 1.5em;
}